.topDestination {
    padding-top: min(2.824vw, 40.66px);
}

.destinations {
    padding-top: min(3.056vw, 44px);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: min(3.056vw, 44px);
    column-gap: min(3.074vw, 46.6px);
    padding-inline: min(6.25vw, 90px);
}




@media (max-width: 1280px) {
    .destinations {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}

@media (max-width: 768px) {
    .destinations {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding-inline: 1.5em;
        gap: 1.5em;
    }


}