

.topDestination .heading {
    display: flex;
    flex-direction: column;
    gap: min(1.067vw, 15.36px);
}

.topDestination h2 {
    font-weight: 600;
    font-size: 1.1094em;
    color: var(--pink);
    line-height: 1.375em;
    letter-spacing: 0.018em;
}

.topDestination h1 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.2;
}

.selectDestination {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: min(6.181vw, 89px);
    padding-right: min(6.319vw, 91px);
    gap: min(1.067vw, 15.36px);
    align-items: center;
}

.categories {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: min(2.656vw, 38.24px);
    cursor: pointer;
}

.categories li:last-child {
    color: var(--pink);
    text-decoration: underline;
}

.categories li {
    color: var(--paragraph-color);
    font-size: 1em;
    line-height: 1.2;
}

.selectedCategory {
    font-weight: 600;
    color: var(--dark);
    width: fit-content;
}

@media (max-width: 768px) {
    
    .selectDestination {
        padding-left: min(6.181vw, 89px);
        gap: 1.5em;
        padding-bottom: 1.5em;
    }

     .categories {
        text-wrap: nowrap;
        overflow: scroll;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
    }

}