@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.button span{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: white;
}

.button{
    padding: 8.79px 19.52px;
    border-radius: 43.93px;
    background: linear-gradient(135deg, #8482FF 0%, #7723FE 100%);
}

